body{
	background: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #52586C;
	color: #FFFFFF;
	font-size: 20px;
	font-family: helvetica, sans-serif;
}
hr {
	border: 1px #FB686C solid;
	width: 40px;
	margin-left: 0px;
}
.stripe {
	background: url(images/stripes.png);
	height: 13px;
	width: 100%;
	position: absolute;
	top: 0px;
	left:0px;
}
#message {
	margin: 500px 0 0 120px;
}
